#MovieName{
    text-decoration: solid;
}
.Fil{
    text-align: center;
}
.Adding{
    text-align: center;
}
#list{
    text-align: center;
    font-display: none;
    list-style-type: none;
}
#list:hover{
    zoom: 1.2;
}