/* .Head{
    text-align: center;
}
.Head:hover{
    zoom: 1.05;
}
.Container{
    background-color: darkgrey;
}
.tables{
    font-size: xx-large;
}
.page{
 -ms-layout-grid-char: 100;
}
.inputs{
    size: 10;
    width: 50%;
} */
ul li{
    cursor: pointer;
  }
  
  span{
    margin-right: 0px;
  }